<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="DBLayerAssembly" value="C:\Users\msta\Documents\Visual Studio 2012\Projects\WinDict\DBLayer\DBLayer\bin\Release\DBLayer.dll" />
    <add key="RepositoriesNamespace" value="Stachowski.WinDict.DBLayer.ContractImplementation.SpecializedRepositories" />
    <add key="LanguageRepositoryType" value="LanguageRepository" />
    <add key="StatisticsRepositoryType" value="StatisticsRepository" />
    <add key="UserRepositoryType" value="UserRepository" />
    <add key="WordRepositoryType" value="WordRepository" />
  </appSettings>
</configuration>