<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--poniższą ścieżkę dostosować-->
    <add key="DBLayerAssembly" value="C:\Users\msta\Documents\Visual Studio 2012\Projects\WinDict\DBLayer\DBLayer\bin\Release\DBLayer.dll" />
    <add key="RepositoriesNamespace" value="Stachowski.WinDict.DBLayer.ContractImplementation.SpecializedRepositories" />
    <add key="LanguageRepositoryType" value="LanguageRepository" />
    <add key="StatisticsRepositoryType" value="StatisticsRepository" />
    <add key="UserRepositoryType" value="UserRepository" />
    <add key="WordRepositoryType" value="WordRepository" />
    <add key="localDbVersion" value="mssqllocaldb" /> <!--"localdb" dla SQL Server <2014-->
    <add key="nameOrConnectionString" value="localdb" /> <!--dowolna-->
    <add key="SeedDatabase" value="True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>